---
import Layout from "../layouts/layout.astro";
import "./blogpost.css";

export async function getStaticPaths() {
	const posts = await Astro.glob("../posts/*.mdx");

	return posts.map((post) => ({
		params: {
			slug: post.frontmatter.slug,
		},
		props: {
			post,
		},
	}));
}

const { Content, frontmatter } = Astro.props.post;
---

<Layout title={`Januszhub: ${frontmatter.title}`}>
	<main class="pt-8 pb-16 lg:pb-24 bg-white">
		<article
			class="mx-auto px-6 w-full max-w-2xl"
		>
			<header>
				<address class="flex items-center gap-5 not-italic">
					<img
						src={`/src/images/authors/${frontmatter.authorPhoto}`}
						alt={frontmatter.author}
						title={frontmatter.author}
						class="w-20 h-20 rounded-full"
					/>
					<div class="[&>p]:mb-0">
						<a rel="author" href="/" class="font-bold text-gray-800 text-xl"
							>{frontmatter.author}</a
						>
						<p>{frontmatter.authorPosition}</p>
						<time class="text-sm text-gray-700"
							>published: {
								new Date(frontmatter.date).toLocaleDateString()
							}</time
						>
					</div>
				</address>
			</header>
			<Content />
		</article>
	</main>
</Layout>
